.title {
  background-color: rgb(15, 125, 215);
  padding: 20px 60px;
  margin-top: 40px;
  border-radius: 20px;
  margin-bottom: 5px;
  font-size: 24 px;
  color: rgb(252, 253, 253);
  text-align: center;

}
